<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .des,.tit,.url{
        font-size: 9px;
      }
      .bg{
        position: fixed;
        width: 100%;
        height: 100%;
        background: green;
        opacity: 0.2;
        filter: alpha(opcaity:20);
        left: 0;
        top: 0;
      }
      .mod_box{
        width: 300px;
        height: 200px;
        border: 1px solid blue;
        border-radius: 8px;
        background: #fff;
        position: fixed;
        left: 50%;
        margin: -100px 0 0 -150px;
      }

      table{text-align: center;}
    </style>
  </head>
  <body>

   <div class="page">
     <% include repeat/head.top.ejs %>
     <div class="content">
        <div>
          <form action="?" method="post">
            标题:<input type="text" name="title" /><br>
            描述:<textarea type="text" name="description"></textarea><br>
            图片链接:<input type="text" onkeyup="this.value=this.value.toLocaleLowerCase()" name="href" value="http://" /><br>
            <input type="submit" value="添加" />
          </form>
        </div>
        <table width="100%">
          <thead>
            <tr>
              <th  width="10%">ID</th>
              <th  width="20%">标题</th>
              <th  width="20%">描述</th>
              <th  width="20%">链接</th>
              <th  width="15%">缩略</th>
              <th  width="15%">操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<banner.length; i++){ %>
            <tr>
              <!-- <td><%=banner[i].ID%></td> this is true ID-->
              <td><%=i+1%></td>
              <td class="tit"><%=banner[i].title.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or") %></td>
              <td class="des"><%=banner[i].description.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or") %></td>
              <td class="url"><%=banner[i].href.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or") %></td>
              <td><img src=<%=banner[i].href.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or") %> alt="NOT IMG" height="30"></td>
              <td>
                <a href="?act=mod&id=<%=banner[i].ID%>">修改</a>
                <a href="?act=del&id=<%=banner[i].ID%>" onclick="return confirm('真的要删除么？')">删除</a>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <% if(typeof mod_data != 'undefined'){%>
        <div class="bg"></div>
        <div class="mod_box">
          <a href="<%=surls+ad_nav_url[0]%>">×</a>
          <form action="?" method="post">
            <input type="hidden" name="mod_id" value="<%=mod_data.ID%>"/><br>
            标题:<input type="text" name="title" value="<%=mod_data.title.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or")%>"/><br>
            描述:<textarea type="text" name="description"><%=mod_data.description.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or")%></textarea><br>
            图片链接:<input type="text" onkeyup="this.value=this.value.toLocaleLowerCase()" name="href" value="<%=mod_data.href.replace(/&#q_0;/g,'"').replace(/&#q_1;/g,"'").replace(/&#q_2;/g,"or")%>" /><br>
            <input type="submit"  onclick="return confirm('真的要修改么？')" value="修改" />
          </form>
        </div>
        <%}%>
     </div>
   </div>

  </body>
</html>
